*{
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    overflow-x: scroll;
}

:root {
    overflow-y: hidden;
    overflow-x: hidden;
}

:root body {
    position: absolute;
}

body {
    width: 100vw;
    overflow: hidden;
}
