.head-tab{
    height: 5vh;
    border-bottom: solid gray 1px;
}
.body-panel{
    width: 100vw;
    height: 95vh;
    display: flex;
}


.mdui-theme-accent-blue {
    height:100vh
}

.header {
    background-image: linear-gradient(135deg, #f2eef9, #E2E4EF);
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.8), inset -1px -1px 1px 0px rgba(40, 49, 85, 0.3), 1px 1px 3px 0px rgba(40, 49, 85, 0.1);
    user-select: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
    min-height: 7vh;
    display: flex;
    flex-direction: row;
    font-family:Arial,"Microsoft Yahe","微软雅黑";
    align-items: center;
    /*border-radius: 0px 0px 16px 16px;*/
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.mdui-select {
    margin-left: 0.5vw;
    width: 10vw;
}

.charts-selector {
    margin-left: 0.5vw;
    align-items: center;
    justify-content: center;
    display: flex;

}


.tags {
    font-size: 14px;
    color: #000;
}

.charts {
    color: #61dafb;
}
.file-select {
    margin-left: 5vw;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.file-select-title {
    font-size: 14px;
    width: 60px;
    line-height: 100%;
    color: #000;
}

.param-panel{
    width: 15vw;
    display: flex;
    border-right: solid gray 1px;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-bottom: 3vh;
}
.filelist-panel{
    padding-top: 3vh;
    width: 15vw;
    display: flex;
    border-right: solid gray 1px;
    flex-direction: column;
    align-items:center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.filelist-panel>h2{
    margin-bottom: 3vh;
}
.param-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.draw-panel{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.param-item{
    width: 100%;
    margin-bottom: 1vh;
}
.data-statistics{
    margin-top: -7vh;
    font-size: 20px;
}
.statistics-line{
    margin-top: 3vh;
    font-size: 20px;
}
.statistics-item{
    display: inline-block;
    min-width: 3vw;
    height: 100%;
}

.statistics-title{
    display: inline-block;
    min-width: 3vw;
    height: 100%;
    font-size: larger;
}

.hisbar {
    position: fixed;
    height: 4vh;
    display: none;
    width: 13vw;
    bottom: 28vh;
    /*display: flex;*/
    z-index: 9999;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
}

.mdui-list {
    background-color: #e9e8f3;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    padding-bottom: 5vh;
    width: 15vw

}

#delete {
    border-radius: 16px;
    color: #fff;
    background-color: #c62828 ;
}

#open {
    border-radius: 16px;
    color: #fff;
    background-color: #5e88ff ;
}


.main-panel {
    display: flex;
}



ul#file-list{
    min-width: 14vw;
    height: 28vh;
    overflow: scroll;
}

#fab-animation-show{
    margin-bottom: 3vh;
}

.xymid{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#setting{
    margin-left: 1vh;
}

#test{
    margin-left: 1vh;
}

#selector{
    color: #000;
}

.fliter{
    width: 10%;
}

.file-info {
    width: 70vw;
}

.mdui-select-selected {
    color: #000;
}


.file-name {
    display: inline-block;
}

.file-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.file-path {
    display: inline-block;
}

.file-detail {
    /*display: none;*/
    float: left;
    text-align: left;
}
.file-info {
    margin-left: 1vh;
    font-size: 14px;
    color: #000;
    float: left;
}

.charts-selector {
    margin-right: 1vh;
    float: right;
}

.charts {
    height: 65vh;
    width: 100vw;
    box-shadow: inset 1px 1px 1px 0 rgba(40, 49, 85, 0.4);
    /*border-radius: 18px;*/
    background: #fff;

}

.statistic-charts {
    height: 22vh;
    width: 40vw;
    background:#f0f0f0;
    display: flex;
    padding: 12px 16px 11px 16px;
    overflow: hidden;
    box-shadow: inset -1px -1px 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: inset 1px 1px 1px 0 rgba(40, 49, 85, 0.4);
    border-radius: 18px;
    /*margin-bottom: 2vh;*/

    background: #fff;
}

.statistic {
    background-image: linear-gradient(135deg, #D9DCE8, #E2E4EF);
    border-radius: 0px 16px 0px 0px;
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.8), inset -1px -1px 1px 0px rgba(40, 49, 85, 0.3), 1px 1px 3px 0px rgba(40, 49, 85, 0.1);
    user-select: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
    display: flex;
    /* box-shadow: 0px 2px 2px #666a6d; */
    flex-direction: row;
    font-family:Arial,"Microsoft Yahe","微软雅黑";
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 28vh;
    margin-bottom: 0;
    background-color:#f2eef9;
    display: flex;
    justify-content: space-around;
    /* box-shadow: 0px 2px 2px #666a6d; */
    flex-direction: row;
    font-family:Arial,"Microsoft Yahe","微软雅黑";
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.statistic-info {
    width: 22vw;
    float: left;
    color: #000;
    display: flex;
    /*flex-direction:column;*/
    text-align: center;
    /*align-content: space-between;*/
    justify-content: space-around;

}




.guide {
    margin-right: 1vw;
}
html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1rem;
    box-shadow: inset -1px -1px 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: inset 1px 1px 1px 0 rgba(40, 49, 85, 0.4);
    background-color: #fff;

}
thead {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

td {
    text-align: center;
}

caption {
    padding: 10px;
}

.logo {
    opacity: 0.9;
    height: 90%;
    float: right;
}

.chartpic {
    margin:0px auto;
    height: 55vh;
    width: 80vw;
}

.ant-empty {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --antd-wave-shadow-color: #1890ff;
    font-feature-settings: "tnum";
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-variant: tabular-nums;
    color: rgba(0,0,0,.65);
    box-sizing: border-box;
    padding: 0;
    margin: 20vh 8px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    text-align: center;
}